$mail-color: orange;
$tel-color: rgb(135, 59, 126);
$bgc: rgba(255, 255, 255, 0.85);

@font-face {
  font-family: "comfortaa";
  src: url("../fonts/comfortaa/static/Comfortaa-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

// FIRST
.firstCarrousel {
  animation-duration: 30s;
  animation-name: first;
  animation-iteration-count: infinite;
}

@keyframes first {
  from {
    background-position: 0%;
  }
  7% {
    background-position: 14.3%;
  }
  14% {
    background-position: 28.6%;
  }
  21% {
    background-position: 42.9%;
  }
  28% {
    background-position: 57.2%;
  }
  35% {
    background-position: 71.5%;
  }
  42% {
    background-position: 85.5%;
  }
  49% {
    background-position: 100%;
  }
  56% {
    background-position: 85.5%;
  }
  63% {
    background-position: 71.5%;
  }
  70% {
    background-position: 57.2%;
  }
  77% {
    background-position: 42.9%;
  }
  84% {
    background-position: 28.6%;
  }
  91% {
    background-position: 14.3%;
  }
  to {
    background-position: 0%;
  }
}

// SECOND
.secondCarrousel {
  animation-duration: 27s;
  animation-name: second;
  animation-iteration-count: infinite;
}

@keyframes second {
  from {
    background-position: 0%;
  }
  10% {
    background-position: 20%;
  }
  20% {
    background-position: 40%;
  }
  30% {
    background-position: 60%;
  }
  40% {
    background-position: 80%;
  }
  50% {
    background-position: 100%;
  }
  60% {
    background-position: 80%;
  }
  70% {
    background-position: 60%;
  }
  80% {
    background-position: 40%;
  }
  90% {
    background-position: 20%;
  }
  to {
    background-position: 0%;
  }
}

// THIRD
.thirdCarrousel {
  animation-duration: 8s;
  animation-name: third;
  animation-iteration-count: infinite;
}

@keyframes third {
  from {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  75% {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}

// FOUTH
.fourthCarrousel {
  animation-duration: 50s;
  animation-name: fourth;
  animation-iteration-count: infinite;
}

@keyframes fourth {
  from {
    background-position: 0%;
  }
  4% {
    background-position: 7.7%;
  }
  8% {
    background-position: 15.4%;
  }
  12% {
    background-position: 23.1%;
  }
  16% {
    background-position: 30.8%;
  }
  20% {
    background-position: 38.45%;
  }
  24% {
    background-position: 46.15%;
  }
  28% {
    background-position: 53.85%;
  }
  32% {
    background-position: 61.5%;
  }
  36% {
    background-position: 69.2%;
  }
  40% {
    background-position: 76.9%;
  }
  44% {
    background-position: 84.6%;
  }
  47% {
    background-position: 92.3%;
  }
  50% {
    background-position: 100%;
  }
  51% {
    background-position: 100%;
  }
  53% {
    background-position: 92.3%;
  }
  57% {
    background-position: 84.6%;
  }
  61% {
    background-position: 76.9%;
  }
  65% {
    background-position: 69.2%;
  }
  69% {
    background-position: 61.5%;
  }
  73% {
    background-position: 53.85%;
  }
  77% {
    background-position: 46.15%;
  }
  81% {
    background-position: 38.45%;
  }
  85% {
    background-position: 30.8%;
  }
  89% {
    background-position: 23.1%;
  }
  93% {
    background-position: 15.4%;
  }
  97% {
    background-position: 7.7%;
  }
  to {
    background-position: 0%;
  }
}

body {
  font-family: "comfortaa";
  width: 100%;
  background: url("../img/binary.png") center/cover;
  background-attachment: fixed;

  header {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;

    h1 {
      color: #fff;
      font-size: 4rem;
      text-align: center;
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      span {
        font-size: 3rem;
        display: block;
        padding-top: 1rem;

        &:nth-of-type(2) {
          font-size: 2.5rem;
        }
      }
    }

    div {
      position: absolute;
      bottom: 5%;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;

      img {
        &:nth-of-type(1) {
          transform: scale(0.92);
        }

        &:nth-of-type(5) {
          width: 100px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }

  main {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;

    h2 {
      width: 120%;
      margin: 5rem auto 0.4rem auto;
      font-size: 2.2rem;
      color: #fff;
      text-align: center;
    }

    p {
      line-height: 1.5;
    }

    img {
      border-radius: 25%;
    }

    .separator {
      width: 80%;
      height: 2px;
      margin: 20px auto;
      border-bottom: 2px dashed rgba(228, 228, 228, 0.897);
    }

    article {
      width: 100%;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.501);
      color: white;
      border-radius: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      // First article " Réalisations "
      &:nth-of-type(1) {
        width: 98%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        div {
          cursor: pointer;
          margin: 1.5rem 0;
          width: 500px;
          height: 300px;
          background-color: #fff;
          border-radius: 10px;
          overflow: hidden;

          &:nth-of-type(1) {
            background: url("../img/restau.png");
            background-position: 0%;
          }

          &:nth-of-type(2) {
            background: url("../img/hello.png");
            background-position: 0%;
          }

          &:nth-of-type(3) {
            background: url("../img/archi.png");
            background-position: 0%;
          }

          &:nth-of-type(4) {
            background: url("../img/fake.png");
            background-position: 0%;
          }
        }
      }

      &:nth-of-type(2) {
        figure {
          &:nth-of-type(6) {
            img {
              background-color: #fff;
            }
          }
        }
      }

      // Third article " Formation " + fourth article " Experience professionnelle "
      &:nth-of-type(3),
      &:nth-of-type(4) {
        padding: 1.2rem 0 1rem 0;

        img {
          width: 100px;
        }

        .container {
          width: 95%;
          margin: 0 auto;
          display: flex;

          &:not(:nth-of-type(1)) {
            margin-top: 0.6rem;
          }

          div {
            margin-left: 4rem;

            p:first-child {
              font-weight: bold;
            }
          }
        }
      }

      // Second article " Technologies utilisées" & 5eme article " Centres d'interets "
      &.flex-container {
        padding: 1rem 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        figure {
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
          }

          figcaption {
            text-align: center;
          }
        }
      }

      &:nth-of-type(5) {
        figure {
          margin-left: 0.5rem;

          &:nth-of-type(2) {
            figcaption {
              margin-left: -5px;
            }
          }
        }
      }

      // Sixth article "Plus"
      &:nth-of-type(6) {
        text-align: center;
        padding: 1rem 0;

        ul {
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          list-style-type: none;
          text-align: center;

          li {
            width: 20%;
            margin: 0.5rem 0;
            padding: 0.5rem 0;
            border-radius: 0.5rem;
            cursor: pointer;
            border: 2px solid transparent;

            span {
              display: block;
              padding: 0.3rem;
              font-weight: bold;
            }

            &:nth-of-type(1),
            &:nth-of-type(2) {
              background-color: $mail-color;
            }

            &:nth-of-type(3) {
              background-color: $tel-color;
            }

            &:nth-of-type(4) {
              background-color: rgb(11, 102, 195);
            }

            &:hover {
              border: 2px solid black;
              background-color: $bgc;
              transition: 0.6s;
              color: rgba(0, 0, 0, 1);
            }

            a {
              display: block;
              color: inherit;
              text-decoration: none;
            }
          }
        }

        p:last-child {
          a {
            display: block;
            width: 109px;
            margin: 0.3rem auto 0 auto;
          }
        }

        div:not(.separator) {
          display: flex;
          justify-content: space-evenly;
          flex-flow: row wrap;

          p {
            width: 40%;
            margin-top: 0.5rem;
          }
        }
      }

      a img:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }

      .cv {
        display: block;
        width: 20%;
        margin: 0.5rem auto 0 auto;
        padding: 1.2rem 0;
        border-radius: 0.5rem;
        cursor: pointer;
        border: 2px solid transparent;
        background-color: #27ab5e;
        color: #fff;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          border: 2px solid rgba(0, 0, 0, 1);
          background-color: $bgc;
          transition: 0.6s;
          color: rgba(0, 0, 0, 1);
        }
      }
    }

    // Pop from right and left side
    h2 {
      margin-left: 100%;
    }

    article {
      margin-left: -100%;
    }

    .show-right {
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: switch-right;
    }

    .show-left {
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: switch-left;
    }
  }

  @keyframes switch-right {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: -12.5%;
    }
  }

  @keyframes switch-left {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0;
    }
  }
  // Pop from right and left side

  footer {
    margin-top: 2rem;

    i {
      font-size: 2.5rem;
    }

    div:first-child {
      height: 50vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      background-color: $bgc;

      h2 {
        font-size: 1.5rem;
        width: 100%;
        margin: 2.5rem 0 1rem 0;
        text-align: center;
      }

      div {
        width: 35%;
        margin-bottom: 5rem;
        padding: 1rem;
        border: 2px solid;
        border-radius: 0.5rem;

        &:nth-of-type(1) {
          i,
          p,
          a {
            color: $mail-color;

            &:hover {
              color: $tel-color;
            }
          }
          border-color: $mail-color;
        }

        &:nth-of-type(2) {
          i,
          p,
          a {
            color: $tel-color;

            &:hover {
              color: $mail-color;
            }
          }
          border-color: $tel-color;
        }

        a {
          font-weight: bold;
          text-decoration: none;
        }
      }
    }

    .social {
      border-top: 1px solid black;
      background-color: $bgc;
      padding-bottom: 0.5rem;
    }

    div {
      text-align: center;

      p:nth-of-type(1) {
        width: 20%;
        margin: 0.7rem auto 1rem auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
      }

      i {
        &:hover {
          transform: scale(1.2);
          transition: 0.5s;
        }
      }

      .fa-linkedin {
        color: rgb(11, 102, 195);
      }

      .fa-github-square {
        color: black;
      }
    }
  }
}

// ************************* Responsive ************************* \\

@media screen and(max-width: 430px) {
  body {
    header {
      overflow: hidden;

      h1 {
        top: 45%;
      }

      div {
        flex-flow: row wrap;
        bottom: 2%;
      }
    }

    main {
      overflow: hidden;

      article:nth-of-type(3),
      article:nth-of-type(4) {
        a {
          display: none;
        }

        .container div {
          margin-left: 2rem;
        }
      }
    }

    footer {
      overflow: hidden;
    }
  }
}

@media screen and(max-width: 590px) {
  body {
    main {
      h2 {
        word-spacing: 1000px;
      }

      article:nth-of-type(1) {
        div {
          width: 300px;
        }
      }

      article:nth-of-type(6) {
        // word-break: break-all;
        ul li a,
        ul li span {
          font-size: 0.8rem;
        }
      }
    }

    footer {
      div {
        h2 {
          padding-top: 2rem;
        }

        &:first-child {
          display: block;
          padding-bottom: 2rem;
          height: 57vh;

          div {
            width: 18rem;
            margin: 0 auto 1rem auto;
          }
        }

        .social {
          margin-top: 4rem;
        }

        p:nth-of-type(1) {
          width: 40%;
        }
      }
    }
  }
}

@media screen and(max-width: 625px) {
  body {
    main {
      article {
        &:nth-of-type(1) {
          padding: 0 0.5rem;

          div {
            margin: 0.7rem auto;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 690px) {
  body main {
    article {
      ul {
        li {
          width: 140px;
        }
      }

      .cv {
        width: 140px;
      }
    }
  }
}

// TABLET
// Prends en compte a 826px wtf ???????????????????????????
@media screen and(max-width: 843px) {
  body {
    header {
      h1 {
        font-size: 3rem;

        span,
        span:nth-of-type(2) {
          font-size: 2rem;
        }
      }

      div {
        img {
          width: 70px;

          &:nth-of-type(5) {
            width: 70px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 931px) {
  body {
    main {
      width: 95%;

      article {
        &:nth-of-type(2),
        &:nth-of-type(5) {
          figure {
            margin-top: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1020px) {
  body {
    main {
      article {
        &:nth-of-type(2) {
          figure {
            margin-left: 0.5rem;

            &:nth-of-type(4) {
              figcaption {
                margin-left: -5px;
              }
            }
          }
        }
      }
    }
  }
}
